.settings
externals & studies
ffmpeg.exe
imdb
tvrage
pyffmpegwrapper
lxml
.idea
.project
.pydevproject
*.pyc

deployment/diribeowin32/Python26
deployment/diribeowin32/diribeo
deployment/diribeowin32.zip